int layer = m.GetInt(0); // The layer identifier.
int x = m.GetInt(1); // The x coordinate of the block's position.
int y = m.GetInt(2); // The y coordinate of the block's position.
int bid = m.GetInt(3); // The block identifier.
int PlayerId = m.GetInt(4); // The Player Identifer.
